.container{
    width: 1200px;
    height: 100px;
    background: #dcd9d9;
    border: black solid 1px;
    margin: 10px auto ;

}
.big{
 height: 200px;
}
.block{
    width: 200px;
    height: 80px;
    background: #959393;
    border: black solid 1px;
    margin: 10px 15px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.toll{
    height: 180px;
}
.larger{
    width: 250px;
}
.display-table{
    display: table;

}
.clearfix::after {
    content: ""; /* Вміст псевдоелемента ::after */
    display: table; /* Властивість display для псевдоелемента ::after */
    clear: both; /* Властивість clear для псевдоелемента ::after */
}
.center{
    justify-content: center;
    align-items: center;
}